# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries by Data Scientists  
- Create a table of common open-source Data Science tools  
- Demonstrate basic arithmetic expressions in Python  
- Convert values between different units (e.g., minutes to hours)

## Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia
- Scala
- Java
- MATLAB
- SAS

## Some of the commonly used libraries used by Data Scientists include:

- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- Keras
- PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Chibueze Emmanuel Chukwuma